*{
	margin:0;
	padding: 0;
}
li{
	list-style: none;
}
body{
}
.airship{		/*  飞船在行星中心点  */
	position: absolute;
	top:325px;
	left: 300px;
	width: 100px;
	height: 50px;

	/* transform:rotate(270deg);
	transform-origin:center 160px; */
}
.airship .ship_head{
	position: absolute;
	background: blue;
	width: 50px;
	height: 40px;
	left: 50px;
	border-radius: 0 40px 40px 0;
}
.airship .ship_body{
	position: absolute;
	background: gray;
	width: 90px;
	height: 40px;
	border-radius: 40px 30px 30px 40px;
	text-align: left;
}
.airship .ship_body p{
	font-weight: bold;
	font-size:16px;
	line-height: 40px;
	padding-left: 10px;
	
	/* transform: rotate(180deg); */	/*270--90*/

}
#scene{
	width: 700px;
	height: 700px;
	background: black;
	position: absolute;

}
#planet{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	background: blue;
	top:250px;
	left:250px;
}
#planet>div{
	border: 1px solid yellow;
	position: absolute;
}
#planet .nearOrbit1{
	width: 300px;
	height:300px;
	border-radius: 300px;
	top:-50px;
	left:-50px;
}
#planet .nearOrbit2{
	width: 410px;
	height:410px;
	border-radius: 410px;
	top:-105px;
	left:-105px;
}
#planet .nearOrbit3{
	width: 520px;
	height:520px;
	border-radius: 520px;
	top:-160px;
	left:-160px;
}
#planet .nearOrbit4{
	width: 630px;
	height:630px;
	border-radius: 630px;
	top:-215px;
	left:-215px;
}
#control{
	padding-top: 10px;
	padding-left: 720px;
	position: relative;
}
#powerSystem_choose,#energySystem_choose{
	font-size: 12px;
	line-height: 30px;
}
#energySystem_choose{
	margin-bottom: 10px;
}
#control .forship{
	line-height: 30px;
}

#control-show{
	position: absolute;
	padding-left:720px;
	top:360px;
	
}
#info_head{
	position: relative;
	height: 40px;
	line-height: 40px;
	background: blue;
	color:white;
	padding: 0 10px;
	font-weight: bold;
	font-size: 16px;
}
#info_area{
	border: 1px solid silver;
	width: 500px;
	height: 300px;
	overflow-y:scroll;
	background: black;
}
#info_area p{
	padding: 0 10px;
	line-height: 30px;
	color: white;
	font-size: 14px;
}
#info_area p.red{
	color:red;
}
#info_area p.green{
	color:green;
}
